__pycache__/
metric-learning/
lightning_logs/
data/
wandb/
text/defence
text/submission
text/examples
*.ckpt
.venv
.vscode

*.out
*.fls
*.aux
*.log
*.gz
*.brg
*.tar.gz
*.blg
*.brf
*.fdb_latexmk
*.bbl
